{% extends "layout.html" %}

{% block contents %}
<div id="app">
    <h1>[[phase]]</h1>
    <template v-if="phase =='ロビー'">
        <div>
            <p>試合に参加するならこちらから</p>
            <input type=" text" v-model="villageName" placeholder="村の名前">
            <button @click="enterVillage">村に入る</button>
        </div>
        <hr>
        <div>
            <p>新たに村をたてるならこちらから</p>
            <input type=" text" v-model="villageName" placeholder="村の名前"><br>
            <input type=" text" v-model="myName" placeholder="GMの名前">
            <button @click="createVillage">村を立てる</button>
        </div>
        <p> [[ message ]]</p>
    </template>

    <template v-else-if="phase =='参戦受付中'">
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>
                    <button v-if="(player.name==myName || IamGM)" @click="leave(player)">観戦</button>
                    <button v-if="(player.name==myName || IamGM)" @click="logout(player)">村を離れる</button>
                    <button v-if="gmButtonEnable && player.name != gm.name" @click="submitGM(player.name)">GM</button>
                </td>
            </tr>
            <tr v-if="notEntry">
                <td></td>
                <td> <input type="text" v-model="myName"></td>
                <td>
                    <button @click="joinGame"> 参戦 </button>
                    <button @click="logout">村を離れる</button>
                </td>
            </tr>
        </table>
        <template v-if="IamGM">
            <button @click=" assignCast" :disabled="players.length==0">試合開始</button>
            <button @click="gmChange=!gmChange">GM交代</button>
        </template>
    </template>

    <template v-else-if="phase =='昼'">
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>[[ opencast[player.name] ]]</td>
                <td>
                    <button v-if="IamGM" @click="vote(player)" :disabled="voted || !player.isAlive">追放</button>
                    <!-- <button v-if="gmButtonEnable && player.name != gm.name" @click="submitGM(player.name)">GM</button> -->
                </td>
            </tr>
            <tr v-if="IamGM">
                <td></td>
                <td></td>
                <td></td>
                <td><button @click="vote('')" :disabled="voted">追放なし</button></td>
            </tr>
        </table>
        <button v-if="IamGM" @click=" judge" :disabled="!voted">結果判定</button>
    </template>

    <template v-else-if="phase =='夜'">
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>[[ opencast[player.name] ]]</td>
                <td></td>
            </tr>
            <tr></tr>
        </table>
        <button v-if="IamGM" @click=" toMidnight">夜のアクション</button>
    </template>

    <template v-else-if="phase =='深夜'">
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>[[ opencast[player.name] ]]</td>
                <td>
                    <input type="radio" name="targetCand" @click="action(player)" :disabled="isNotObjected(player)"
                        value="対象"></input>
                </td>
                <td>[[ wolfTarget[player.name] ]]</td>
            </tr>
            <tr></tr>
        </table>
    </template>

    <template v-else-if="phase =='朝'">
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>[[ opencast[player.name] ]]</td>
                <td></td>
                <td >[[ wolfTarget[player.name] ]]</td>
            </tr>
            <tr></tr>
        </table>
        <button v-if="IamGM" @click=" judge">結果判定</button>
    </template>

    <template v-else>
        <p>[[ villageName ]] GM: [[ gmSign ]]</p>
        <table>
            <tr v-for="player in players" :key="player.pid">
                <td :class={active:player.name==myName}>[[ player.pid ]]</td>
                <td :class={active:!player.isAlive}>[[ player.name ]]</td>
                <td>[[ opencast[player.name] ]]</td>
                <td></td>
            </tr>
        </table>
        <button v-if="IamGM" @click="nextGame">次の試合</button>
    </template>

    <p> [[ message ]]</p>
    
    <template>
        <table>
            <tr v-for="(num, name) in castMenu">
                <td>
                    <label :for="name">[[ name ]]</label>
                </td>
                <td>
                    <input type="number" v-model.number="castMenu[name]" @click=countupdown
                        :disabled="(name=='市民') || banCastControll" id="name" :min="minCastNum(name)" max="100">
                </td>
            </tr>
        </table>

        <p>連続ガード
            <select v-model="renguard" @change="emitRenguard">
                <option v-for="tg in toggle" :value="tg.value" :disabled="banCastControll">[[
                    tg.text ]]</option>
            </select>
        </p>
        <p>ランダム白
            <select v-model="ranshiro" @change="emitRanshiro">
                <option v-for="tg in toggle" :value="tg.value" :disabled="banCastControll">[[
                    tg.text ]]</option>
            </select>
        </p>
        <p>役職欠け
            <select v-model="castmiss" @change="emitCastMiss">
                <option v-for="sw in toggle" :value="sw.value" :disabled="banCastControll">[[ sw.text ]]
                </option>
            </select>
            <span v-show="castmiss">※必ず一体は人狼がいます</span>
        </p>
    </template>

    <template>

        <button v-if="IamGM" @click="resetGame">リセット</button>
    </template>
    </template>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
    integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const socket = io()
    Vue.options.delimiters = ['[[', ']]'];

    const app = new Vue({
        el: '#app',
        data: {
            players: [],
            opencast: {},
            phase: "ロビー",  //["参戦受付中", "参戦者登録", "昼", "夜", "深夜", "朝","人狼勝利", "市民勝利", "第三勝利"]
            myName: '',
            message: '',
            voted: false,
            objects: [], // 各役職の投票対象となるplayer.name
            wolfTarget: [],
            castMenu: {},
            renguard: false,
            ranshiro: true,
            castmiss: 0,
            toggle: [
                { text: 'なし', value: false },
                { text: 'あり', value: true },
            ],
            gm: {},
            villageName: "朝活村",
            gmChange: false
        },
        computed: {
            gmButtonEnable: function () {
                if (this.gmChange == false) { return false }
                if (this.gm.name == null || !this.gm.is_playing) {
                    return true
                }
                if (this.IamGM && this.phase == "参戦受付中") {
                    return true
                }
                return false

            },
            gmSign: function () {
                if (this.gm.name == null) {
                    return '未定'
                }
                else if (!this.gm.is_playing) {
                    return this.gm.name + '(断線中)'
                }
                return this.gm.name
            },
            myData: function () {
                return this.players.find(p => p.name === this.myName)
            },
            myId: function () {
                if (this.myData) {
                    return this.myData.pid
                }
                return 0
            },
            notEntry: function () {
                if (this.myData === undefined) {
                    return true
                }
                return false
            },
            banCastControll: function () {
                if (this.IamGM) {
                    return this.phase != '参戦受付中'
                }
                return true
            },
            IamGM: function () {
                if (this.myName == '') {
                    return false
                }
                return this.myName == this.gm.name
            },
            gameover: function () {
                return ["人狼勝利", "市民勝利", "第三勝利"].includes(this.phase)
            },
            isNotObjected: function () {
                return function (player) {
                    return !this.objects.includes(player.name)
                }
            },
            minCastNum: function () {
                return function (name) {
                    return name == '人狼' ? 1 : 0
                }
            }
        },
        methods: {
            createVillage: function () {
                if (this.myName != '' && this.villageName != '') {
                    socket.emit('create village',
                        { 'village_name': this.villageName, 'my_name': this.myName }
                    )
                }
            },
            enterVillage: function () {
                if (this.villageName != '') {
                    socket.emit('enter village',
                        { 'village_name': this.villageName, 'my_name': this.myName }
                    )
                }
            },
            joinGame: function () {
                socket.emit('join game', this.myName)
            },
            leave: function (player) {
                socket.emit('leave', player.name)
            },
            logout: function () {
                socket.emit('logout', this.myName)
            },
            action: function (player) {
                socket.emit('do action', player.name)
            },
            submitGM: function (name) {
                socket.emit('submit GM', name)
                this.gmChange = false
                this.Message = ""
            },
            assignCast: function () {
                socket.emit('assign cast', this.castMenu)
            },
            vote: function (player) {
                socket.emit('vote', player != '' ? player.name : '')
                this.voted = true
            },
            judge: function () {
                socket.emit('judge')
                this.voted = false
            },
            toMidnight: function () {
                socket.emit('offer choices')
            },
            nextGame: function () {
                socket.emit('next game')
            },
            resetGame: function () {
                if (confirm('本当にリセットしますか')) {
                    this.nextGame()
                }
            },
            countupdown: function () {
                socket.emit('change cast', this.castMenu)
            },
            emitRenguard: function () {
                socket.emit('set renguard', this.renguard)
            },
            emitRanshiro: function () {
                socket.emit('set ranshiro', this.ranshiro)
            },
            emitCastMiss: function () {
                socket.emit('set castmiss', this.castmiss)
            },
        },
        created: function () {
            axios.get('/session')
                .then(response => {
                    this.myName = response.data['my_name'];
                    this.villageName = response.data['village_name']
                })
            socket.on('message', (data) => {
                if ("phase" in data) { this.phase = data.phase }
                if ("msg" in data) { this.message = data.msg }
                if ("my_name" in data) { this.myName = data.my_name }
                if ("players" in data) {
                    this.players = data.players.sort((a, b) => {
                        return a.pid - b.pid
                    })
                }
                if ("gm" in data) { this.gm = data.gm }
                if ("opencast" in data) { this.opencast = data.opencast }
                if ("objects" in data) {
                    this.objects = data.objects
                }
                if ("wolf_target" in data) {
                    this.wolfTarget = data.wolf_target
                }
                if ("castMenu" in data) {   //市民は自動計算するために、castMenuを書き換える
                    this.castMenu = data.castMenu
                }
                if ("ranshiro" in data) {
                    this.ranshiro = data.ranshiro
                }
                if ("renguard" in data) {
                    this.renguard = data.renguard
                }
                if ("castmiss" in data) {
                    this.castmiss = data.castmiss
                }
            })
        },
    })
</script>

{% endblock %}