<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>人狼@zoom</title>
</head>
<style>
    .active {
        color: #fff;
        background-color: rgba(7, 7, 7, 0.466);
    }
</style>

<body>
    <div id="app">
        <h1>[[phase]]</h1>
        <template>
            <table>
                <tr v-for="(player, index) in players" v-bind:key="player.name">
                    <td v-bind:class={active:player.name==myName}>[[ index +1 ]]</td>
                    <td v-bind:class={active:!player.isAlive}>[[ player.name ]]</td>
                    <td>
                        <button v-if="phase =='参加受付中'||phase =='参加者登録'" v-bind:class={active:playerActive(player)}
                            v-on:click="submitOrNot(player)" :disabled="isBtnDisable(player)"> 参加 </button>
                        <input v-if="IamGM && phase=='参加者登録'" type="checkbox" :id="'rm-'+index" :disabled="player.isGM"
                            :value="player.name" v-model="deletePlayers"></input>
                        <label v-if="IamGM && phase=='参加者登録'" :for="'rm-'+index">削除</label>
                        <button v-if="IamGM && phase=='昼'" v-on:click="vote(player)"
                            :disabled="voted || !player.isAlive">追放</button>
                        <input v-if="phase=='深夜'" type="radio" name="targetCand" v-on:click="action(player)"
                            :disabled="isNotObjected(player)" value="対象"></input>
                        <button v-if="phase=='参加受付中' && gmChanging" v-on:click="submitGM(player)">
                            GM</button>
                    </td>
                    <td v-if="player.isGM && phase=='参加受付中'">GM</td>
                    <td>[[ opencast[player.name] ]]</td>
                    <td v-if="phase =='深夜'||phase =='朝'">[[ wolfTarget[player.name] ]]
                    </td>
                </tr>
                <tr v-if="IamGM && phase=='昼'">
                    <td></td>
                    <td></td>
                    <td>
                        <button v-on:click="vote('')" :disabled="voted">追放なし</button>
                    </td>
                </tr>
            </table>
            <template v-if="IamGM && phase=='参加者登録'">
                <input type="text" v-model="addPlayerName" rel="input" v-on:keyup.enter="memberAdd" placeholder="お名前">
                <button v-on:click="memberAdd">追加</button>
            </template>
        </template>

        <p class="css-test"> [[ message ]]</p>

        <template id="casting">
            <table class="table table-bordered">
                <tr v-for="(num, name) in castMenu">
                    <td>
                        <label :for="name">[[ name ]]</label>
                    </td>
                    <td>
                        <input type="number" v-model.number="castMenu[name]" v-on:click=countupdown
                            :disabled="isVillager(name) || notCtrCastnum" id="name" :min="minCastNum(name)" max="100">
                    </td>
                </tr>
            </table>

            <p>連続ガード
                <select v-model="renguard" v-on:change="emitRenguard">
                    <option v-for="option in options" v-bind:value="option.value" :disabled="notCtrCastnum">[[
                        option.text ]]</option>
                </select>
            </p>
            <p>ランダム白
                <select v-model="ranshiro" v-on:change="emitRanshiro">
                    <option v-for="option in options" v-bind:value="option.value" :disabled="notCtrCastnum">[[
                        option.text ]]</option>
                </select>
            </p>
            <p>役職欠け
                <select v-model="castmiss" v-on:change="emitCastMiss">
                    <option v-for="sw in toggle" v-bind:value="sw.value" :disabled="notCtrCastnum">[[ sw.text ]]
                    </option>
                </select>
            </p>
        </template>

        <template v-if="IamGM">
            <button v-if="phase=='参加者登録'" v-on:click=" submitMember">参加受付へ</button>
            <button v-if="phase=='参加受付中'" v-on:click=" assignCast" :disabled="!ready">試合開始</button>
            <button v-if="phase=='参加受付中'" v-on:click=" changeMember">参加者変更</button>
            <button v-if="phase=='参加受付中'" v-on:click=" changeGM">GM交代</button>
            <button v-if="phase=='昼'" v-on:click=" judge" :disabled="!voted">結果判定</button>
            <button v-if="phase=='夜'" v-on:click=" toMidnight">夜のアクション</button>
            <button v-if="phase=='朝'" v-on:click=" judge">結果判定</button>
            <button v-if=gameover v-on:click="nextGame">次の試合</button>
            <button v-on:click="resetGame">リセット</button>
        </template>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js"
        integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj"
        crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <script src="https://www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        const socket = io();
        Vue.options.delimiters = ['[[', ']]'];

        const app = new Vue({
            el: '#app',
            data: {
                players: [],
                addPlayerName: '',
                opencast: {},
                phase: "参加受付中",  //["参加受付中", "参加者登録", "昼", "夜", "深夜", "朝","人狼勝利", "市民勝利", "第三勝利"]
                myName: '',
                message: '',
                gmChanging: false,
                voted: false,
                objects: [], // 各役職の投票対象となるplayer.name
                wolfTarget: [],
                castMenu: {},
                renguard: false,
                ranshiro: true,
                castmiss: 0,
                deletePlayers: [],
                addPlayers: [],
                options: [
                    { text: 'なし', value: false },
                    { text: 'あり', value: true },
                ],
                toggle: [
                    { text: 'なし', value: 0 },
                    { text: 'あり', value: 1 },
                ],
            },

            computed: {
                notCtrCastnum: function () {
                    return this.phase != '参加受付中'
                },
                IamGM: function () {
                    if (this.players.some(p => p.isGM)) {
                        return this.myName == this.players.find(p => p.isGM).name
                    }
                    return false
                },
                playerActive: function () {
                    return function (player) {
                        return player.isActive
                    }
                },
                IamActive: function () {
                    if (this.myName == '') {
                        return false
                    }
                    return this.players.find(p => p.name == this.myName).isActive
                },
                ready: function () {
                    return !this.players.map(player => player.isActive).includes(false)
                },
                gameover: function () {
                    return ["人狼勝利", "市民勝利", "第三勝利"].includes(this.phase)
                },
                isBtnDisable: function () {
                    return function (player) {
                        if (this.IamActive) {  //自分登録済みの場合
                            return player.name != this.myName        //自分のボタンだけ押せる 
                        }
                        else {                                     //自分未登録の場合
                            return this.playerActive(player)           //他の人が登録済みのボタンは押せない
                        }
                    }
                },
                isVillager: function () {
                    return function (cast) {
                        return cast == '市民'
                    }
                },
                isNotObjected: function () {
                    return function (player) {
                        return !this.objects.includes(player.name)
                    }
                },
                minCastNum: function () {
                    return function (name) {
                        return (name == '人狼' ? 1 : 0)
                    }
                }
            },
            methods: {
                submitOrNot(player) {
                    if (player.isActive) {
                        this.myName = ''
                        sessionStorage.myName = ''
                        sessionStorage.isActive = false
                        socket.emit('decline', player.name)
                    }
                    else {
                        this.myName = player.name
                        sessionStorage.myName = player.name
                        sessionStorage.isActive = true
                        socket.emit('join', player.name)
                    }
                },
                action: function (player) {
                    socket.emit('do action', this.myName, player.name)
                },

                // GM用メソッド
                changeMember: function () {
                    this.phase = "参加者登録"
                },
                changeGM: function () {
                    this.gmChanging = true
                    this.Message = "どなたにGMを譲りますか"
                },
                submitGM: function (player) {
                    socket.emit('submit GM', player.name)
                    this.Message = ""
                    this.gmChanging = false
                },
                assignCast: function () {

                    socket.emit('assign cast', this.castMenu)
                },
                vote: function (player) {
                    socket.emit('vote', player != '' ? player.name : '')
                    this.voted = true
                },
                judge: function () {
                    socket.emit('judge')
                    this.voted = false
                },
                toMidnight: function () {
                    socket.emit('offer choices')
                },
                nextGame: function () {
                    socket.emit('next game')
                },
                memberAdd: function () {
                    this.players.push({ 'name': this.addPlayerName })
                    this.addPlayers.push(this.addPlayerName)
                    this.addPlayerName = ""
                },
                submitMember: function () {
                    socket.emit('submit member', this.addPlayers, this.deletePlayers)
                    this.addPlayers = []
                    this.deletePlayers = []
                    this.phase = '参加受付中'
                },
                resetGame: function () {
                    if (confirm('本当にリセットしますか')) {
                        this.nextGame()
                    }
                },
                countupdown: function () {
                    socket.emit('change cast', this.castMenu)
                },
                emitRenguard: function () {
                    socket.emit('set renguard', this.renguard)
                },
                emitRanshiro: function () {
                    socket.emit('set ranshiro', this.ranshiro)
                },
                emitCastMiss: function () {
                    socket.emit('set castmiss', this.castmiss)
                },
            },
            mounted: function () {
                var self=this;
                axios.get('/player_list')
                    .then(function(response){
                        console.log(response.data)
                        alert(response.data)
                        self.phase = response.data.phase
                        self.players = response.data.players
                        self.castMenu = response.data.castMenu
                        self.ranshiro = response.data.ranshiro
                        self.renguard = response.data.renguard
                        self.castmiss = response.data.castmiss
                    })
                    .catch(function(error){
                        console.log(error)
                    });
                // リロード対応。sessionStorageにmysidが残っている場合にemit
                if (sessionStorage.myName) {
                    this.myName = sessionStorage.myName
                    socket.emit('reload', sessionStorage.myName, sessionStorage.isActive)
                }
                socket.on('message', (data) => {
                    if ("phase" in data) { this.phase = data.phase }
                    if ("msg" in data) { this.message = data.msg }
                    if ("players" in data) { this.players = data.players }
                    if ("opencast" in data) { this.opencast = data.opencast }
                    if ("objects" in data) {
                        this.objects = data.objects
                    }
                    if ("wolf_target" in data) {
                        this.wolfTarget = data.wolf_target
                    }
                    if ("castMenu" in data) {   //市民は自動計算するために、castMenuを書き換える
                        this.castMenu = data.castMenu
                    }
                    if ("ranshiro" in data) {
                        this.ranshiro = data.ranshiro
                    }
                    if ("renguard" in data) {
                        this.renguard = data.renguard
                    }
                    if ("castmiss" in data) {
                        this.castmiss = data.castmiss
                    }
                    if ("elase_storage" in data) {
                        sessionStorage.clear()
                    }
                })
            },
        })
    </script>
    <style scoped>
        /* これを設定 */
        .css-test {
            white-space: pre-wrap;
        }
    </style>
</body>

</html>